/*Montserrat Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --colorWhite: #ffffff;
    /*Color for Background*/
    --bgPrimary : #0E1216;
    --bgSecondary: #282A37;
    --bgTertiary: #222128;
    --bgSecondary90: #282a37ee;

    /*Color selected*/
    --selColor: #3e4253;

    /*Text and details*/
    --color: #555966;
    --color0: #575C74;
    --color1: #4688EE;
    --color2: #5CBACD;
    --color3: #EFA82F;
    --color4: #543BF7;

    /*Font size*/
    --fs-xsmall0: 0.6rem;
    --fs-xsmall1: 0.7rem;
    --fs-small0: 0.8rem;
    --fs-small1: 0.9rem;
    --fs-medium0: 1.2rem;
    --fs-medium1: 1.4rem;
    --fs-medium15: 1.6rem;
    --fs-medium2: 1.9rem;
    --fs-large0: 2.2rem;
    --fs-large1: 2.5rem;
    --fs-xlarge0: 3rem;

    /*Font weight*/
    --fw-light: 300;
    --fw-normal: 500;
    --fw-bold: 800;
}

html{
    width: 100%;
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: center;
    scroll-behavior: smooth;
    scroll-padding: 51px;
    
}

body{
    width: 100%;
    max-width: 1980px;
    height: auto;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: center;
    grid-auto-rows: min-content;
    position: relative;
    background-color: var(--bgPrimary);
}

/* General Settings */
/* ################ */

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.btn-style1{
    padding: 12px 25px;
    cursor: pointer;
    background: var(--bgPrimary);
    color: var(--color2);
    border: 1px solid var(--color2);
    font-size: var(--fs-medium0);
    font-weight: var(--fw-normal);
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.5s;
}

.btn-style1:hover{
    background: linear-gradient(45deg, var(--color1), var(--color2));
    transition: all 0.5s;
    color: var(--colorWhite);
}


.gradient-text{
    background: -webkit-linear-gradient(45deg, var(--color1),var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* End General Settings */
/* #################### */

#main-header{
    width: 100%;
    height: auto;
    min-height: 50px;
    display: grid;
    justify-items: end;
    padding: 10px 50px;
    background-color: var(--bgTertiary);
    position:sticky;
    top: 0;
    z-index: 2;
    border-bottom: 1px solid var(--bgSecondary);
}

#burguer-menu-btn{
    width: 22px;
    height: 22px;
    place-items: center;
    display: none;
    cursor: pointer;
}

#burguer-menu-btn div{
    height: 2px;
    width: 100%;
    background-color: var(--colorWhite);
    border-radius: 5px;
}

#navbar{
    width: 350px;
    height: auto;
    min-height: 30px;
    display: grid;
    place-items: center;
}

#navbar-list{
    width: 350px;
    height: auto;
    min-height: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.navbar-list-item{
    width: 100%;
    list-style: none;
    display: grid;
    place-items: center;
}

.navbar-list-item a{
    font-size: var(--fs-small1);
    font-weight: var(--fw-normal);
    color: var(--colorWhite);
    position: relative;
    padding: 3px;
}

.navbar-list-item a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(45deg, var(--color1), var(--color2));
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-in-out;
}

.navbar-list-item a:hover{
    background: -webkit-linear-gradient(45deg, var(--color1),var(--color2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: brightness(1.5);
    transition: all 0.2s;
}

.navbar-list-item a:hover::before{
    transform: scaleX(1);
}

#main{
    width: 100%;
    height: auto;
    display: grid;
    align-items: start;
    justify-items: center;
    padding: 0 50px 71px 50px;
}

.web-section{
    width: 100%;
    height: auto;
    min-height: min(calc(100vh - 50px), 1080px); /*50px altura del header*/
    display: grid;
    place-items: center;
    padding: 40px 0;
}

#hero{
    grid-auto-rows: min-content;
    place-content: center;
    max-height: 1080px;
    gap: 85px;
    background-image: url("./img/bg-hero.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 50%;
}

#greeting-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;
    justify-items: center;
}

.main-title{
    font-size: var(--fs-xlarge0);
    font-weight: var(--fw-bold);
    color: var(--colorWhite);
    text-align: center;
}

#developer-name{
    color: var(--color4);
}

#profession{
    font-size: var(--fs-xlarge0);
    font-weight: var(--fw-bold);
    text-align: center;
}

#my-portfolio{
    grid-auto-rows: min-content;
    gap: 10px;
}

#category-container{
    width: auto;
    height: auto;
    min-height: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    place-items: center;
    gap: 40px;
}

.category-card{
    width: 100px;
    height: 100px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: start;
    gap: 10px;
    background-color: var(--bgTertiary);
    border-radius: 10px;
    cursor: pointer;
}

.category-card:hover{
    background-color: var(--selColor);
}

.category-img{
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#all-icon{
    background-image: url("./img/all-icon.png");
}

#html-icon{
    background-image: url("./img/html-icon.png");
}

#css-icon{
    background-image: url("./img/css-icon.png");
}

#js-icon{
    background-image: url("./img/js-icon.png");
}

.category-name{
    color: var(--color);
    text-align: center;
    font-size: var(--fs-small1);
    font-weight: var(--fw-bold);
    transition: color 0.3s;
}

.category-name{
    color: var(--colorWhite);
    transition: color 0.3s;
}

.selected-category{
    background-color: var(--selColor);
}

/*Porject card*/
#project-container{
    width: 100%;
    height: auto;
    padding: 25px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 25px 15px;
    grid-auto-rows: auto;
}

.project-card{
    width: 95%;
    max-width: 260px;
    min-width: 250px;
    height: 220px;
    background-color: var(--bgSecondary);
    border-radius: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.project-info{
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: -50px;
    padding: 5px;
    background-color: var(--bgSecondary90);
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: 1fr;
    place-items: center;
    gap: 7px;
    transition: transform 0.5s;
}

.translateY{
    transform: translateY(-50px);
    transition: transform 0.5s;
}


.project-name{
    font-size: var(--fs-small0);
    color: var(--colorWhite);
    font-weight: var(--fw-bold);
}

.technologies{
    width: auto;
    height: auto;
    display: grid; 
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    place-items: center;
    gap: 10px;
}

.project-description{
    font-size: var(--fs-small0);
    font-weight: var(--fw-light);
    color:var(--color2);
    text-align: center;
    height: 50px;
    width: 100%;
    display: grid;
    place-items: center;
}

.img-technologie{
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.html{
    background-image: url("./img/html-icon.png");
}

.css{
    background-image: url("./img/css-icon.png");
}

.js{
    background-image: url("./img/js-icon.png");
}

#show-more-projects{
    font-size: var(--fs-small1);
}

/* Footer */
#footer{
    width: 100%;
    height: auto;
    min-height: 70px;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    bottom: 0;
    position: absolute;
    border-top: 1px solid var(--bgSecondary);
    background-color: var(--bgPrimary);
}

#sign{
    font-size: var(--fs-small0);
    font-weight: var(--fw-light);
    color: var(--color0);
}

#sign a{
    font-size: var(--fs-small1);
    color: var(--color);
    font-weight: var(--fw-bold);
}

#sign a:visited{
    font-size: var(--fs-small1);
    color: var(--color);
    font-weight: var(--fw-bold);
}

#sign a:hover{
    transition: color 0.3s;
    color: var(--colorWhite);
}


@media (max-width: 1230px){
    #project-container{
        grid-template-columns: 1fr 1fr;
    }

    .project-card{
        height: 420px;
        max-width: 450px;
    }
}

@media (max-width: 1080px){
    .project-card{
        height: 320px;
        max-width: 350px;
    }
}

@media (max-width: 855px){
    .project-card{
        height: 280px;
        max-width: 310px;
    }
}

/* Tablet */
@media (max-width: 768px){

    *{
        font-size: 14px;
    }

    .main-title{
        font-size: var(--fs-large0);
    }
    
    #profession{
        font-size: var(--fs-medium2);
    }


    .project-card{
        height: 220px;
        max-width: 250px;
    }
}

@media(max-width: 660px){
    #project-container{
        grid-template-columns: 1fr;
    }

    .project-card{
        height: 320px;
        max-width: 350px;
    }

    .category-card{
        width: 80px;
        height: 80px;
    }

    .category-img{
        width: 25px;
        height: 25px;
    }

    #category-container{
        gap: 30px;
    }

    #burguer-menu-btn{
        display: grid;
        position: relative;
        align-self: center;
    }

    #burguer-menu-btn.hide-menu div:nth-child(1){
        position: absolute;
        top: 10px;
        left: 1px;
        transform: rotateZ(45deg);
        transition: transform 0.5s;
    }

    #burguer-menu-btn.hide-menu div:nth-child(3){
        position: absolute;
        top: 10px;
        left: 1px;
        transform: rotateZ(-45deg);
        transition: transform 0.5s;
    }

    #burguer-menu-btn.hide-menu div:nth-child(2){
        display: none;
    }

    #navbar{
        display: none;
    }

    #navbar.show-navbar{
        display: grid;
        position: fixed;
        top: 51px;
        left: 0px;
        height: 200px;
        width: 100%;
        background-color: var(--bgSecondary90);
        animation-name: showmenu;
        animation-iteration-count: 1;
        animation-duration: 0.5s;
    }

    @keyframes showmenu {
        from{
            transform: scale(0.2);
        }
        to{
            transform: scale(1);
        }
    }


    #navbar-list{
        grid-template-columns: 1fr;
        gap: 25px;
    }
}

@media (max-width: 530px){

    .main-title{
        font-size: var(--fs-medium2);
    }
    
    #profession{
        font-size: var(--fs-medium15);
    }

    #category-container{
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .category-card{
        width: 120px;
        height: 60px;
        grid-auto-flow: column;
        place-items: center;
        grid-template-columns: 1fr 1fr;
    }

    .project-card{
        height: 220px;
        max-width: 250px;
        min-width: none;
    }

    .category-name{
        font-size: var(--fs-small0);
    }
}

@media (max-width: 460px){

    #main{
        padding: 0 25px 71px 25px;
    }

    .main-title{
        font-size: var(--fs-medium15);
    }
    
    #profession{
        font-size: var(--fs-medium1);
    }
}

@media (max-width: 375px){
    *{
        font-size: 12px;
    }
}